.App {
  text-align: center;
  background-color:#222;
  /*background: radial-gradient(at 50% 50%, #4e4f52, #282c34) fixed;*/
}

.main {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rightIcon, .leftIcon {
  align-self: center;
}


body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url('../assets/tenor1.gif');
}

.App-link {
  color: #61dafb;
}

.iconStyle:hover {
  transform: scale(1.2); 
  color: rgb(255, 200, 62);
}

.textBlock {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  text-align: left;
  padding:10px;
  background-color: #2e2e2d;
  box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.54),
  inset -3px -3px 2px rgba(255, 255, 255, 0.14);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.textBlock::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.textBlock {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container {
  width: 80%;
  height: 160px;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.iconList {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.iconStyle {
  position: relative;
  margin-left:4px;
  margin-right:4px;
  color: goldenrod;
  font-size: 18px;
  background-color: #2e2e2d;
  padding:8px;
  border-radius: 50%;
  box-shadow: 7px 6px 8px 1px rgba(0, 0, 0, 0.44); 
}
.iconStyle:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.44); 
}