@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

header {
  padding: 5px;
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  margin-top: 0;
}

.btn-back {
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

pre {
  overflow: scroll;
}

@media (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

.projectbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 35em) {
  .projectbox {
    grid-template-columns: 1fr;
  }
}

img[alt="small_box"] {
  width: 200px;
}
